
<!-- table zwave_devices search -->
<div>
 [ <a href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a> ]
</div>
<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_API_URL#] style="color:red;font-weight:bold"[#endif#]>
 API URL:
 (*)
 </label>
 <div class="controls"><input type="text" name="api_url" value="[#API_URL#]" class="input"></div>
</div>
<div class="form-group">
 <label class="control-label"[#if ERR_API_KEY#] style="color:red;font-weight:bold"[#endif#]>
 API KEY:
 (*)
 </label>
 <div class="controls"><input type="text" name="api_key" value="[#API_KEY#]" class="input"></div>
</div>
<div class="form-group">
 <label class="control-label"[#if ERR_API_USERNAME#] style="color:red;font-weight:bold"[#endif#]>
 API Username:
 </label>
 <div class="controls"><input type="text" name="api_username" value="[#API_USERNAME#]" class="input"></div>
</div>
<div class="form-group">
 <label class="control-label"[#if ERR_API_PASSWORD#] style="color:red;font-weight:bold"[#endif#]>
 API Password:
 </label>
 <div class="controls"><input type="password" name="api_password" value="[#API_PASSWORD#]" class="input"></div>
</div>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
 <!-- action usual -->
 <!-- table mpt search -->
 [#if VIEW_MODE="search_mpt" || VIEW_MODE=""#]
  [#inc mpt_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table mpt search -->
 <!-- table mpt edit -->
 [#if VIEW_MODE="edit_mpt"#]
   [#inc mpt_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table mpt edit -->
 <!-- table mpt view --> 
 [#if VIEW_MODE="view_mpt"#]
   [#inc mpt_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table mpt view -->
