<script type="text/javascript">
	function sendCommand(id, cmd, input){
                var kw = document.getElementsByName('kw');
                for (var i = 0; i < kw.length; i++) {
                    if (kw[i].type === 'radio' && kw[i].checked) {
                        reskw = kw[i].value;
                    }
                }
                var cmdforsend = cmd.replace("0", reskw);
		var url="?sendCommand=1&id="+id+"&cmd="+cmdforsend;
		if (input == 1)
		{
			var text = prompt("Input parameter "+cmd+":", '');
			if (text == null) return;
			url=url+"&param="+text;
		}

		$.ajax({
			url: url,
			cache: false,
			/*success: function(html){
				alert(html);
			} */
		});
	}
</script>


<ul id="tab" class="nav nav-tabs">
    <li><a data-toggle="tab" href="#panel_settings" class="active">Настройки</a></li>
    <li><a data-toggle="tab" href="#panel_record">Запись ключевого слова</a></li>
</ul>
<br>

<div class="tab-content">
    <div id="panel_settings" class="tab-pane fade in">

        <!-- Table 'mpt' edit -->
        <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
        [#if OK#]
        <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
        [#endif OK#]
        [#if ERR#]
        <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
        [#endif ERR#]
        <fieldset>
        [#if ID=""#]
        <legend><#LANG_NEW_RECORD#></legend>
        [#endif ID#]
        <!-- TITLE (varchar)
        <div class="form-group">
        <label for="title" class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
         <#LANG_TITLE#>:
         (*)
         </label>
         <div class="col-lg-4">
            <input type="text" class="form-control" name="title" value="[#TITLE#]" id="title">
         </div>
        </div>
        -->
        <!-- ID_TERMINAL (select) -->
        [#if !IS_SET_ID_TERMINAL#]
        <div class="form-group ">
            <label for="id_terminal" class="col-lg-4 control-label" [#if ERR_NAME#] style="color:red;font-weight:bold"[#endif#]>
            Терминал: *
            </label>
            <div class="col-lg-5">
                <select name="id_terminal" class="form-control [#if ERR_ID_TERMINAL#]alert-danger[#endif#]" >
                    <option value="">select
                    [#begin ID_TERMINAL_OPTIONS#]<option value="[#ID#]"[#if SELECTED#] selected[#endif#]>[#NAME#]
                    [#end ID_TERMINAL_OPTIONS#]
                </select>

            </div>
        </div>
        [#endif IS_SET_ID_TERMINAL#]
        <!-- NAME (varchar)
        <div class="form-group">
         <label for="name" class="col-lg-3 control-label"[#if ERR_NAME#] style="color:red;font-weight:bold"[#endif#]>
         Системное имя:
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="name" value="[#NAME#]" id="name"></div>
        </div> -->
        <!-- LINKEDROOM (varchar)
        <div class="form-group">
         <label for="linkedroom" class="col-lg-3 control-label"[#if ERR_LINKEDROOM#] style="color:red;font-weight:bold"[#endif#]>
         Расположение:
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="linkedroom" value="[#LINKEDROOM#]" id="linkedroom"></div>
        </div>-->
        <!-- IP (varchar)
        <div class="form-group">
         <label for="ip" class="col-lg-3 control-label"[#if ERR_IP#] style="color:red;font-weight:bold"[#endif#]>
         ip адрес терминала:
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="ip" value="[#IP#]" id="ip"></div>
        </div>-->
        <!-- PROVIDERTTS (varchar) -->
        <div class="form-group">
         <label for="providertts" class="col-lg-3 control-label"[#if ERR_PROVIDERTTS#] style="color:red;font-weight:bold"[#endif#]>
         Сервис синтеза речи:
         </label>
         <div class="col-lg-4">
            <select name="providertts" class="form-control" id="providertts">
                <option value="Yandex"[#if PROVIDERTTS=="Yandex"#] selected[#endif#]>Yandex</option>
                <option value="Google"[#if PROVIDERTTS=="Google"#] selected[#endif#]>Google</option>
            </select>
         </div>
         </div>
        <!-- APIKEYTTS (varchar) -->
        <div class="form-group">
         <label for="apikeytts" class="col-lg-3 control-label"[#if ERR_APIKEYTTS#] style="color:red;font-weight:bold"[#endif#]>
         Ключ API сервиса синтеза речи:
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="apikeytts" value="[#APIKEYTTS#]" id="apikeytts"></div>
        </div>
        <!-- PROVIDERSTT (varchar) -->
        <div class="form-group">
         <label for="providerstt" class="col-lg-3 control-label"[#if ERR_PROVIDERSTT#] style="color:red;font-weight:bold"[#endif#]>
         Сервис распознавания речи:
         </label>
            <div class="col-lg-4">
            <select name="providerstt" class="form-control" id="providerstt">
                <option value="Google"[#if PROVIDERSTT=="Google"#] selected[#endif#]>Google</option>
                <option value="Wit.ai"[#if PROVIDERSTT=="Wit.ai"#] selected[#endif#]>Wit.ai</option>
                <option value="Microsoft"[#if PROVIDERSTT=="Microsoft"#] selected[#endif#]>Microsoft voice</option>
            </select>
            </div>
        </div>
        <!-- APIKEYSTT (varchar) -->
        <div class="form-group">
         <label for="apikeystt" class="col-lg-3 control-label"[#if ERR_APIKEYSTT#] style="color:red;font-weight:bold"[#endif#]>
         Ключ API сервиса распознавания речи:
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="apikeystt" value="[#APIKEYSTT#]" id="apikeystt"></div>
        </div>
        <!-- SENSITIVITY (varchar) -->
        <div class="form-group">
         <label for="sensitivity" class="col-lg-3 control-label"[#if ERR_SENSITIVITY#] style="color:red;font-weight:bold"[#endif#]>
         Чувствительность реагирования на ключевое слово:
         </label>
            <div class="col-lg-4">
             <select name="sensitivity" class="form-control" id="sensitivity">
                <option value="0.2"[#if SENSITIVITY="0.2"#] selected[#endif#]>0.2</option>
                <option value="0.25"[#if SENSITIVITY="0.25"#] selected[#endif#]>0.25</option>
                <option value="0.3"[#if SENSITIVITY="0.3"#] selected[#endif#]>0.3</option>
                <option value="0.35"[#if SENSITIVITY="0.35"#] selected[#endif#]>0.35</option>
                <option value="0.4"[#if SENSITIVITY="0.4"#] selected[#endif#]>0.4</option>
                <option value="0.45"[#if SENSITIVITY="0.45"#] selected[#endif#]>0.45</option>
                <option value="0.5"[#if SENSITIVITY="0.5"#] selected[#endif#]>0.5</option>
                <option value="0.55"[#if SENSITIVITY="0.55"#] selected[#endif#]>0.55</option>
                <option value="0.6"[#if SENSITIVITY="0.6"#] selected[#endif#]>0.6</option>
                <option value="0.65"[#if SENSITIVITY="0.65"#] selected[#endif#]>0.65</option>
                <option value="0.7"[#if SENSITIVITY="0.7"#] selected[#endif#]>0.7</option>
            </select>
         <!-- <input type="text" class="form-control" name="sensitivity" value="[#SENSITIVITY#]" id="sensitivity"> -->
            </div>
        </div>
        <!-- ALARMKWACTIVATED (varchar) -->
        <div class="form-group">
         <label for="alarmkwactivated" class="col-lg-3 control-label"[#if ERR_ALARMKWACTIVATED#] style="color:red;font-weight:bold"[#endif#]>
         Сигнал о распознавании ключевого слова:
         </label>
         <div class="col-lg-4">
             <input type="checkbox" name="alarmkwactivated" value="1"[#if ALARMKWACTIVATED="1"#] checked[#endif#]>
             <!-- <input type="text" class="form-control" name="alarmkwactivated" value="[#ALARMKWACTIVATED#]" id="alarmkwactivated"> -->
         </div>
        </div>
        <!-- ALARMTTS (varchar) -->
        <div class="form-group">
         <label for="alarmtts" class="col-lg-3 control-label"[#if ERR_ALARMTTS#] style="color:red;font-weight:bold"[#endif#]>
         Сигнал перед сообщением:
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="alarmtts" value="1"[#if ALARMTTS="1"#] checked[#endif#]>
         </div>
        </div>
        <!-- ALARMSTT (varchar) -->
        <div class="form-group">
         <label for="alarmstt" class="col-lg-3 control-label"[#if ERR_ALARMSTT#] style="color:red;font-weight:bold"[#endif#]>
         Сигнал перед началом распознавания речи:
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="alarmstt" value="1"[#if ALARMSTT="1"#] checked[#endif#]>
         </div>
        </div>
        <!-- LINKED_OBJECT (varchar)
        <div class="form-group">
         <label for="linked_object" class="col-lg-3 control-label"[#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold"[#endif#]>
         <#LANG_LINKED_OBJECT#>:
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="linked_object" value="[#LINKED_OBJECT#]" id="linked_object"></div>
        </div> -->
        <!-- LINKED_PROPERTY (varchar)
        <div class="form-group">
         <label for="linked_property" class="col-lg-3 control-label"[#if ERR_LINKED_PROPERTY#] style="color:red;font-weight:bold"[#endif#]>
         <#LANG_LINKED_PROPERTY#>:
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="linked_property" value="[#LINKED_PROPERTY#]" id="linked_property"></div>
			 </div>-->
        <div class="form-group">
                <div class="col-lg-offset-3 col-lg-4">
         [#if ID!=""#]
         <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
         [#else ID#]
         <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
         [#endif ID#]
         <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
        <input type="hidden" name="id" value="<#ID#>">
        <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
        <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
        <input type="hidden" name="mode" value="update">
                </div>
        </div>
        </fieldset>
        </form>
    </div>
    <div id="panel_record" class="tab-pane fade in">
        <p>Здесь можно записать до шести ключевых слов по 3 образца каждого ключевого слова. Для избегания ложных срабатываний лучше записать словосочетание из двух слов и более. Для лучшего качества срабатывания лучше записывать с тем микрофоном, который будет использоваться для распознавания. Говорить надо в микрофон на терминале.</p>
        <input name="kw" type="radio" value="1" checked> 1е слово
        <input name="kw" type="radio" value="2"> 2е слово
        <input name="kw" type="radio" value="3"> 3е слово
        <input name="kw" type="radio" value="4"> 4е слово
        <input name="kw" type="radio" value="5"> 5е слово
        <input name="kw" type="radio" value="6"> 6е слово
        <hr/>
        <p>Запись первого образца ключевого слова</p>
        <button onclick="sendCommand([#ID#],'rec0_1',0);return false;" title="Старт записи 1го образца ключевого слова" class="btn btn-default">Запись</button>
        <!--<button onclick="sendCommand([#ID#],'stop,1',1);return false;" title="Стоп записи 1го образца ключевого слова" class="btn btn-default">Стоп записи</button>
        -->
        <button onclick="sendCommand([#ID#],'play0_1',0);return false;" title="Воспроизведение записи 1го образца ключевого слова" class="btn btn-default">Воспроизведение</button>
        <hr/>
        <p>Запись второго образца ключевого слова</p>
        <button onclick="sendCommand([#ID#],'rec0_2',0);return false;" title="Старт записи 2го образца ключевого слова" class="btn btn-default">Запись</button>
        <!--<button onclick="sendCommand([#ID#],'stop,2',1);return false;" title="Стоп записи 2го образца ключевого слова" class="btn btn-default">Стоп записи</button>
        -->
        <button onclick="sendCommand([#ID#],'play0_2',0);return false;" title="Воспроизведение записи 2го образца ключевого слова" class="btn btn-default">Воспроизведение</button>
        <hr/>
        <p>Запись третьего образца ключевого слова</p>
        <button onclick="sendCommand([#ID#],'rec0_3',0);return false;" title="Старт записи 3го образца ключевого слова" class="btn btn-default">Запись</button>
        <!--<button onclick="sendCommand([#ID#],'stop,3',1);return false;" title="Стоп записи 3го образца ключевого слова" class="btn btn-default">Стоп записи</button>
        -->
        <button onclick="sendCommand([#ID#],'play0_3',0);return false;" title="Воспроизведение записи 3го образца ключевого слова" class="btn btn-default">Воспроизведение</button>
        <hr/>
        <p>Последний этап тренировки ключевого слова надо сгенерить служебный файл из записанных образцов по которому и будет работать распознавание ключевого слова.</p>
        <button onclick="sendCommand([#ID#],'compile0',0);return false;" title="Генерация служебного файла" class="btn btn-default">Компиляция</button>
    </div>
</div>
<hr/>
<script type="text/javascript">
$('#tab a:first').tab('show');
</script>
