
<ul id="tab_start" class="nav nav-tabs">
    <li><a data-toggle="tab" href="#panel_assistants" class="active">Умные клонки</a></li>
    <li><a data-toggle="tab" href="#panel_description">Описание</a></li>
</ul>
<br>
<div class="tab-content">
    <div id="panel_assistants" class="tab-pane fade in">

        <!-- table mpt search -->
        <p>
        <a href="?view_mode=edit_mpt" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
        </p>
        <table width=100% border=0><tr>
        <td valign=top>
        <!-- results -->
        [#if RESULT#]
        <!-- paging -->
        [#if PAGES#]
        <table border=0>
        <td align=right><b>Pages:</b>&nbsp;</td>
        [#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
        <td>
        [#begin PAGES#]
        [#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
        [#end PAGES#]
        </td>
        [#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
        </table>
        [#endif PAGES#]
        <!-- / paging -->
        <!-- search results (list) -->
        <form action="?" method="post" name="frmList_mpt" style="padding:0px" class="form">
        <table  align=center class="table table-striped">
        <tbody>
        [#begin RESULT#]
        <tr>
         <td>
          <b>
           [#TITLE#]
          </b>
         </td>
         <td>
          <b>
           [#NAME#]
          </b>
         </td>
          <td>
          <b>
           [#HOST#]
          </b>
         </td>
          <td>
           [#if IS_ONLINE=="1"#]<font color="green">Online</font>[#endif#]
           [#if IS_ONLINE=="0"#]<font color="red">Offline</font>[#endif#]
         </td>
        <td width="1%" nowrap>
          <div>
          [#if "<#ACTION#>"=="admin"#]
           <a href="?view_mode=edit_mpt&id=[#ID#]" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="?view_mode=delete_mpt&id=[#ID#]" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
          [#endif ACTION#]
          </div>
         </td>
        </tr>
        [#end RESULT#]
        </tbody>
        </table>
        <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
        <input type="hidden" name="view_mode" value="multiple_mpt">
        </form>
        <!-- / search results (list) -->
        <!-- paging -->
        [#if PAGES#]
        <table border=0>
        <td align=right><b>Pages:</b>&nbsp;</td>
        [#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
        <td>
        [#begin PAGES#]
        [#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</b></a>
        [#end PAGES#]
        </td>
        [#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
        </table>
        [#endif PAGES#]
        <!-- / paging -->
        [#else RESULT#]
        <p>
        <font color="red"><#LANG_NO_RECORDS_FOUND#></font>
        </p>
        [#endif RESULT#]
        <!-- / results -->
        </td></tr></table>
    </div>
    <div id="panel_description" class="tab-pane fade in">
        <p>Для добавления в систему нового Голосового ассистента сначала надо добавить его в качестве обычного терминала. Это можно сделать в "Панель управления" -> "Настройки" -> <a href="/admin.php?pd=&md=panel&inst=&action=terminals" target="_blank"> "Терминалы"</a></p>
        <p>Там надо указать ip адрес вашего Голосового ассистента, если хотите по ней слушать онлайн радио то поставьте галочку "может проигрывать медиа-контент" и выберите "Тип плеера" "MPD", "Порт доступа к плееру" "6600"</p>
        <p>Самого Голосового ассистента можно сделать из недорогого одноплатника, например, Orange Pi Zero. Установив на него простой скрипт. Сам скрипт и его установка описаны на странице проекта в GitHub <a href="https://github.com/devoff/mdmPiTerminal" target="_blank">https://github.com/devoff/mdmPiTerminal</a></p>
    </div>
</div>
<script type="text/javascript">
$('#tab_start a:first').tab('show');
</script>
