<script type="text/javascript">
	function sendCommand(id, cmd, input){
                var kw = document.getElementsByName('kw');
                for (var i = 0; i < kw.length; i++) {
                    if (kw[i].type === 'radio' && kw[i].checked) {
                        reskw = kw[i].value;
                    }
                }
                var cmdforsend = cmd.replace("0", reskw);
		var url="?sendCommand=1&id="+id+"&cmd="+cmdforsend;
		if (input == 1)
		{
			var text = prompt("Input parameter "+cmd+":", '');
			if (text == null) return;
			url=url+"&param="+text;
		}

		$.ajax({
			url: url,
			cache: false,
			/*success: function(html){
				alert(html);
			} */
		});
	}
</script>


<ul id="tab" class="nav nav-tabs">
    <li><a data-toggle="tab" href="#panel_settings" class="active">Настройки</a></li>
    <li><a data-toggle="tab" href="#panel_voice">Выбор и настройка голосовых сервисов</a></li>
    <li><a data-toggle="tab" href="#panel_admin">Обслуживание</a></li>
    <li><a data-toggle="tab" href="#panel_record">Запись ключевого слова</a></li>
</ul>
<br>

<div class="tab-content">
    
    <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
    [#if OK#]
    <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
    [#endif OK#]
    [#if ERR#]
    <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
    [#endif ERR#]
    <fieldset>
    [#if ID=""#]
    <legend><#LANG_NEW_RECORD#></legend>
    [#endif ID#]
    
    
    <!-- panel_settings -->
    <div id="panel_settings" class="tab-pane fade in">

        <!-- ID_TERMINAL (select) -->
        [#if !IS_SET_ID_TERMINAL#]
        <div class="form-group ">
            <label for="id_terminal" class="col-lg-4 control-label" [#if ERR_NAME#] style="color:red;font-weight:bold"[#endif#]>
            Терминал: *
            </label>
            <div class="col-lg-5">
                <select name="id_terminal" class="form-control [#if ERR_ID_TERMINAL#]alert-danger[#endif#]" >
                    <option value="">select
                    [#begin ID_TERMINAL_OPTIONS#]<option value="[#ID#]"[#if SELECTED#] selected[#endif#]>[#NAME#]
                    [#end ID_TERMINAL_OPTIONS#]
                </select>

            </div>
        </div>
        [#endif IS_SET_ID_TERMINAL#]

        <!-- ALARMKWACTIVATED (BOOLEAN) -->
        <div class="form-group">
         <label for="alarmkwactivated" class="col-lg-3 control-label"[#if ERR_ALARMKWACTIVATED#] style="color:red;font-weight:bold"[#endif#]>
         Сигнал о распознавании ключевого слова:
         </label>
         <div class="col-lg-4">
             <input type="checkbox" name="alarmkwactivated" value="1"[#if ALARMKWACTIVATED="1"#] checked[#endif#]>
             <!-- <input type="text" class="form-control" name="alarmkwactivated" value="[#ALARMKWACTIVATED#]" id="alarmkwactivated"> -->
         </div>
        </div>
        
        <!-- ALARMTTS (BOOLEAN) -->
        <div class="form-group">
         <label for="alarmtts" class="col-lg-3 control-label"[#if ERR_ALARMTTS#] style="color:red;font-weight:bold"[#endif#]>
         Сигнал перед сообщением:
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="alarmtts" value="1"[#if ALARMTTS="1"#] checked[#endif#]>
         </div>
        </div>
        
        <!-- ALARMSTT (BOOLEAN) -->
        <div class="form-group">
         <label for="alarmstt" class="col-lg-3 control-label"[#if ERR_ALARMSTT#] style="color:red;font-weight:bold"[#endif#]>
         Сигнал перед началом распознавания речи:
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="alarmstt" value="1"[#if ALARMSTT="1"#] checked[#endif#]>
         </div>
        </div>
        
        <!-- ASK_ME_AGAIN (TINYINT) -->
        <div class="form-group">
         <label for="ask_me_again" class="col-lg-3 control-label"[#if ERR_ASK_ME_AGAIN#] style="color:red;font-weight:bold"[#endif#]>
                Количество переспрашиваней <img src="/img/helpicon.png" title="Если в записи нет слов или STT не смог ничего распознать, будет переспрашивать данное количество раз. Если 0 - не переспрашивает"/>
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="ask_me_again" value="[#ASK_ME_AGAIN#]" id="ask_me_again"></div>
        </div>

        <!-- QUIET (BOOLEAN) -->
        <div class="form-group">
         <label for="quiet" class="col-lg-3 control-label"[#if ERR_QUIET#] style="color:red;font-weight:bold"[#endif#]>
         Тихий запуск <img src="/img/helpicon.png" title="Несущественные сообщения не будут произнесены"/>
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="quiet" value="1"[#if QUIET="1"#] checked[#endif#]>
         </div>
        </div>

        <!-- NO_HELLO (BOOLEAN) -->
        <div class="form-group">
         <label for="no_hello" class="col-lg-3 control-label"[#if ERR_NO_HELLO#] style="color:red;font-weight:bold"[#endif#]>
         Старт без приветствия <img src="/img/helpicon.png" title="Терминал не будет произносить приветствие при голосовой активации"/>
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="no_hello" value="1"[#if NO_HELLO="1"#] checked[#endif#]>
         </div>
        </div>

        <!-- PHRASE_TIME_LIMIT (TINYINT) -->
        <div class="form-group">
         <label for="phrase_time_limit" class="col-lg-3 control-label"[#if ERR_PHRASE_TIME_LIMIT#] style="color:red;font-weight:bold"[#endif#]>
          Лимит распознования <img src="/img/helpicon.png" title="Лимит времени на запись после того как терминал распознал речь, в секундах"/>
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="phrase_time_limit" value="[#PHRASE_TIME_LIMIT#]" id="phrase_time_limit"></div>
        </div>

        <!-- CHROME_MODE (BOOLEAN) -->
        <div class="form-group">
         <label for="chrome_mode" class="col-lg-3 control-label"[#if ERR_CHROME_MODE#] style="color:red;font-weight:bold"[#endif#]>
         Ключевое в контексте команды <img src="/img/helpicon.png" title="Если включить то не надо ждать подтверждения от терминала реакции на ключевое слово, а можно будет одним предложением дать команду началом которого будет ключевое слово"/>
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="chrome_mode" value="1"[#if CHROME_MODE="1"#] checked[#endif#]>
         </div>
        </div>
        
        <!-- CHROME_CHOKE (BOOLEAN) -->
        <div class="form-group">
         <label for="chrome_choke" class="col-lg-3 control-label"[#if ERR_CHROME_CHOKE#] style="color:red;font-weight:bold"[#endif#]>
         Глушить музыку <img src="/img/helpicon.png" title="Если включено обнаружение ключевой фразы в chrome_mode будет глушить все звуки и ставить mpd на паузу. Это может быть не очень удобно, т.к. подвержено ложным срабатываниям"/>
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="chrome_choke" value="1"[#if CHROME_CHOKE="1"#] checked[#endif#]>
         </div>
        </div>

        <!-- CHROME_ALARMSTT (BOOLEAN) -->
        <div class="form-group">
         <label for="chrome_alarmstt" class="col-lg-3 control-label"[#if ERR_CHROME_ALARMSTT#] style="color:red;font-weight:bold"[#endif#]>
         Сигнал перед распознованием <img src="/img/helpicon.png" title="Если включено будет издавать сигнал перед тем как распознать записанную фразу в chrome_mode. Подвержено ложным срабатываниям"/>
         </label>
         <div class="col-lg-4">
              <input type="checkbox" name="chrome_alarmstt" value="1"[#if CHROME_ALARMSTT="1"#] checked[#endif#]>
         </div>
        </div>
    </div>
    <!-- panel_voice -->
    <div id="panel_voice" class="tab-pane fade in">
        <h2>SnowBoy</h2>
 
        <!-- TOKEN (varchar) -->
        <div class="form-group">
         <label for="token" class="col-lg-3 control-label"[#if ERR_TOKEN#] style="color:red;font-weight:bold"[#endif#]>
         Токен Сноубоя <img src="/img/helpicon.png" title="Токен для API. Если этот перестанет работать можно задать свой"/>
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="token" value="[#TOKEN#]" id="token"></div>
        </div>
        
        <!-- SENSITIVITY (varchar) -->
        <div class="form-group">
         <label for="sensitivity" class="col-lg-3 control-label"[#if ERR_SENSITIVITY#] style="color:red;font-weight:bold"[#endif#]>
         Чувствительность <img src="/img/helpicon.png" title="Чувствительность реагирования на ключевое слово. Диапозон от 0.2 до 0.7 , чем больше число тем лучше реагирует но больше вероятность ложных срабатываний."/>
         </label>
            <!-- <div class="col-lg-4">
             <select name="sensitivity" class="form-control" id="sensitivity">
                <option value="0.2"[#if SENSITIVITY="0.2"#] selected[#endif#]>0.2</option>
                <option value="0.25"[#if SENSITIVITY="0.25"#] selected[#endif#]>0.25</option>
                <option value="0.3"[#if SENSITIVITY="0.3"#] selected[#endif#]>0.3</option>
                <option value="0.35"[#if SENSITIVITY="0.35"#] selected[#endif#]>0.35</option>
                <option value="0.4"[#if SENSITIVITY="0.4"#] selected[#endif#]>0.4</option>
                <option value="0.45"[#if SENSITIVITY="0.45"#] selected[#endif#]>0.45</option>
                <option value="0.5"[#if SENSITIVITY="0.5"#] selected[#endif#]>0.5</option>
                <option value="0.55"[#if SENSITIVITY="0.55"#] selected[#endif#]>0.55</option>
                <option value="0.6"[#if SENSITIVITY="0.6"#] selected[#endif#]>0.6</option>
                <option value="0.65"[#if SENSITIVITY="0.65"#] selected[#endif#]>0.65</option>
                <option value="0.7"[#if SENSITIVITY="0.7"#] selected[#endif#]>0.7</option>
            </select>-->
         <div class="col-lg-4"><input type="text" class="form-control" name="sensitivity" value="[#SENSITIVITY#]" id="sensitivity"></div>
         </div>
        <hr/>
        
        <h2>Сервисы речи</h2>
        
        <!-- PROVIDERTTS (varchar) -->
        <div class="form-group">
         <label for="providertts" class="col-lg-3 control-label"[#if ERR_PROVIDERTTS#] style="color:red;font-weight:bold"[#endif#]>
         Сервис синтеза речи 
         </label>
         <div class="col-lg-4">
            <select name="providertts" class="form-control" id="providertts">
                <option value="Yandex"[#if PROVIDERTTS=="Yandex"#] selected[#endif#]>Yandex</option>
                <option value="Google"[#if PROVIDERTTS=="Google"#] selected[#endif#]>Google</option>
                <option value="Aws"[#if PROVIDERTTS=="Aws"#] selected[#endif#]>Polly от AWS</option>
                <option value="Rhvoice"[#if PROVIDERTTS=="Rhvoice"#] selected[#endif#]>Rhvoice offline</option>
                <option value="Rhvoice-rest"[#if PROVIDERTTS=="Rhvoice-rest"#] selected[#endif#]>Rhvoice-rest offline</option>
            </select>
         </div>
         </div>
        
        <!-- PROVIDERSTT (varchar) -->
        <div class="form-group">
         <label for="providerstt" class="col-lg-3 control-label"[#if ERR_PROVIDERSTT#] style="color:red;font-weight:bold"[#endif#]>
         Сервис распознавания речи
         </label>
            <div class="col-lg-4">
            <select name="providerstt" class="form-control" id="providerstt">
                <option value="Yandex"[#if PROVIDERSTT=="Yandex"#] selected[#endif#]>Yandex</option>
                <option value="Google"[#if PROVIDERSTT=="Google"#] selected[#endif#]>Google</option>
                <option value="Wit"[#if PROVIDERSTT=="Wit"#] selected[#endif#]>Wit.ai, Microsoft</option>
                <option value="pocketsphinx-rest"[#if PROVIDERSTT=="pocketsphinx-rest"#] selected[#endif#]>Pocketsphinx-rest offline</option>
            </select>
            </div>
        </div>

        <hr/>
        <h2>Яндекс</h2>
        
        <!-- APIKEYTTS (varchar) -->
        <div class="form-group">
         <label for="apikeytts" class="col-lg-3 control-label"[#if ERR_APIKEYTTS#] style="color:red;font-weight:bold"[#endif#]>
         Ключ API сервиса генерации речи
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="apikeytts" value="[#APIKEYTTS#]" id="apikeytts"></div>
        </div>
        
        <!-- APIKEYSTT (varchar) -->
        <div class="form-group">
         <label for="apikeystt" class="col-lg-3 control-label"[#if ERR_APIKEYSTT#] style="color:red;font-weight:bold"[#endif#]>
         Ключ API сервиса распознавания речи
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="apikeystt" value="[#APIKEYSTT#]" id="apikeystt"></div>
        </div>
    </div>
    <!-- panel_admin -->
    <div id="panel_admin" class="tab-pane fade in">

        <p>Обновить терминал</p>
        <button onclick="sendCommand([#ID#],'update_0_0',0);return false;" title="Обновить" class="btn btn-default">Обновить</button>
        <hr/>

        <p>Откатить термина до предыдущего успешного обновления</p>
        <button onclick="sendCommand([#ID#],'rollback_0_0',0);return false;" title="Откатить" class="btn btn-default">Откатить</button>
        <hr/>




    </div>
    <!-- panel_record -->
    <div id="panel_record" class="tab-pane fade in">
        <p>Здесь можно записать до шести ключевых слов по 3 образца каждого ключевого слова. Для избегания ложных срабатываний лучше записать словосочетание из двух слов и более. Для лучшего качества срабатывания лучше записывать с тем микрофоном, который будет использоваться для распознавания. Говорить надо в микрофон на терминале.</p>
        <input name="kw" type="radio" value="1" checked> 1е слово
        <input name="kw" type="radio" value="2"> 2е слово
        <input name="kw" type="radio" value="3"> 3е слово
        <input name="kw" type="radio" value="4"> 4е слово
        <input name="kw" type="radio" value="5"> 5е слово
        <input name="kw" type="radio" value="6"> 6е слово
        <hr/>
        <p>Запись первого образца ключевого слова</p>
        <button onclick="sendCommand([#ID#],'rec_0_1',0);return false;" title="Старт записи 1го образца ключевого слова" class="btn btn-default">Запись</button>
        <button onclick="sendCommand([#ID#],'play_0_1',0);return false;" title="Воспроизведение записи 1го образца ключевого слова" class="btn btn-default">Воспроизведение</button>
        <hr/>
        <p>Запись второго образца ключевого слова</p>
        <button onclick="sendCommand([#ID#],'rec_0_2',0);return false;" title="Старт записи 2го образца ключевого слова" class="btn btn-default">Запись</button>
        <button onclick="sendCommand([#ID#],'play_0_2',0);return false;" title="Воспроизведение записи 2го образца ключевого слова" class="btn btn-default">Воспроизведение</button>
        <hr/>
        <p>Запись третьего образца ключевого слова</p>
        <button onclick="sendCommand([#ID#],'rec_0_3',0);return false;" title="Старт записи 3го образца ключевого слова" class="btn btn-default">Запись</button>
        <button onclick="sendCommand([#ID#],'play_0_3',0);return false;" title="Воспроизведение записи 3го образца ключевого слова" class="btn btn-default">Воспроизведение</button>
        <hr/>
        <p>Последний этап тренировки ключевого слова надо сгенерить служебный файл из записанных образцов по которому и будет работать распознавание ключевого слова.</p>
        <button onclick="sendCommand([#ID#],'compile_0_1',0);return false;" title="Генерация служебного файла" class="btn btn-default">Компиляция</button>
	<hr/>
	<p>Удалить модель</p>
        <button onclick="sendCommand([#ID#],'del_0_1',0);return false;" title="Удалить модель" class="btn btn-default">Удалить</button>
	<!-- <hr/>
	<p>Применить настройки на терминале</p>
        <button onclick="sendCommand([#ID#],'save_0_1',0);return false;" title="Применить настройки" class="btn btn-default">Применить</button>
        -->
    </div>

    <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
    <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
     [#if ID!=""#]
         <input type="hidden" name="id" value="<#ID#>">
         <input type="hidden" name="mode" value="update">
     [#endif ID#]
    </fieldset>
    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
             [#if ID!=""#]
                 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
             [#else ID#]
                 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
             [#endif ID#]
             <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
         </div>
    </div>
    </form>

</div>
<hr/>
<script type="text/javascript">
$('#tab a:first').tab('show');
</script>
